#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include "keys_de.h"

#define BASE 0
#define NAVNUM 1
#define SYMBOL 2
#define MEDIA 3
#define MOUSE 4
#define SCROLL 5
#define KEYS_L 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24
#define KEYS_R 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29
#define THUMBS 30 31 32 33 34 35
#define U_TAPPING_TERM 200

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    combos {
        compatible = "zmk,combos";

        escc {
            bindings = <&kp ESC>;
            key-positions = <17 18>;
            layers = <0>;
        };
    };

    chosen { zmk,physical-layout = &charybdis_6col_layout; };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            display-name = "BASE";
            bindings = <
&kp ESC         &kp N1     &kp N2   &kp N3          &kp N4          &kp N5            &kp N6          &kp N7           &kp N8       &kp N9         &kp N0       &kp BSPC
&kp TAB         &kp DE_Z   &kp DE_Y &kp DE_U        &kp DE_A        &kp DE_Q          &kp DE_P        &kp DE_B         &kp DE_M     &kp DE_L       &kp DE_F     &kp DE_J
&kp LCTRL       &kp DE_C   &kp DE_S &kp DE_I        &kp DE_E        &kp DE_O          &kp DE_D        &kp DE_T         &kp DE_N     &kp DE_R       &kp DE_H     &kp DE_SZ
&kp LSHFT       &lt 6 DE_V &kp DE_X &kp DE_U_UMLAUT &kp DE_A_UMLAUT &kp DE_O_UMLAUT   &kp DE_W        &kp DE_G         &kp DE_COMMA &kp DE_PERIOD  &kp DE_K     &kp RSHFT
                                  &mo 1             &kp SPACE       &kp LEFT_WIN    &lt 2 ENTER     &kp BACKSPACE 
                                                    &kp LEFT_ALT    &kp SPACE         &kp DOWN_ARROW
            >;
        };

        NAVNUM {
            display-name = "NAVNUM";
            bindings = <
&kp F12  &kp F1  &kp F2        &kp F3        &kp F4         &kp F5        &kp F6           &kp F7        &kp F8        &kp F9        &kp F10       &kp F11
&none    &none   &kp HOME      &kp UP        &kp END        &kp INSERT    &kp PAGE_UP      &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &none         &none
&none    &none   &kp LEFT      &kp DOWN      &kp RIGHT      &kp ENTER     &kp PAGE_DOWN    &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_0  &none
&none    &none   &kp LC(LEFT)  &kp CAPSLOCK  &kp LC(RIGHT)  &kp DELETE    &kp PRINTSCREEN  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none         &none
                               &trans        &trans         &trans        &trans           &trans
                                             &mo 3          &trans        &trans
            >;
        };

        SYMBOL {
            display-name = "SYMBOL";
            bindings = <
&none  &none          &kp AT_SIGN           &kp HASH   &kp DOLLAR             &none        &none        &none             &kp CARET       &none              &none            &none
&none  &none          &kp LESS_THAN         &kp EQUAL  &kp GREATER_THAN       &kp GRAVE    &none        &kp LEFT_BRACKET  &kp UNDERSCORE  &kp RIGHT_BRACKET  &none            &none
&none  &kp BACKSLASH  &kp LEFT_PARENTHESIS  &kp MINUS  &kp RIGHT_PARENTHESIS  &kp PLUS     &kp PERCENT  &kp LEFT_BRACE    &kp SEMICOLON   &kp RIGHT_BRACE    &kp EXCLAMATION  &none
&none  &none          &kp ASTERISK          &kp COLON  &kp SLASH              &none        &none        &kp PIPE          &kp TILDE       &kp AMPERSAND      &none            &none
                                            &trans     &trans                 &mo 3        &trans       &trans
                                                       &trans                 &trans       &trans
            >;
        };

        MEDIA {
            display-name = "MEDIA";
            bindings = <
&none  &none  &none  &none   &none   &none     &none   &none              &none             &none            &none  &none
&none  &none  &none  &none   &none   &none     &none   &none              &none             &none            &none  &none
&none  &none  &none  &none   &none   &none     &none   &kp C_VOLUME_DOWN  &kp C_MUTE        &kp C_VOLUME_UP  &none  &none
&none  &none  &none  &none   &none   &none     &none   &kp C_PREV         &kp C_PLAY_PAUSE  &kp C_NEXT       &none  &none
                     &trans  &trans  &trans    &trans  &trans
                             &trans  &trans    &trans
            >;
        };

        MOUSE {
            display-name = "MOUSE";
            bindings = <
&trans  &trans  &trans  &trans     &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans
                        &mkp RCLK  &trans  &mkp LCLK    &trans  &trans
                                   &trans  &trans       &trans
            >;
        };

        SCROLL {
            display-name = "SCROLL";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans
                                &trans  &trans    &trans
            >;
        };
    };
};
